def database = dict(
    type = @"PostgreSQL",
    version = 13,
    connection = dict(
        host = @"127.0.0.1",
        port = 5432,
        user = @"db_user",
        password = @"db_password"
        ),
    tables = { dict(
            name = @"users",
            columns = dict(
                id = @"integer",
                name = @"varchar",
                email = @"varchar"
                )
            ). dict(
            name = @"orders",
            columns = dict(
                id = @"integer",
                user_id = @"integer",
                total = @"float"
                )
            ). }
    );